importFrom("flexmix", "KLdiv")
importFrom("blavaan", "blavaan", "dpriors", "blavInspect")
importFrom("utils", "capture.output")
importFrom("stats", "dnorm","dunif", "sd")
importFrom("truncnorm", "dtruncnorm")
importFrom("sfsmisc", "integrate.xy")
export("DAC.normal")
export("DAC.uniform")